# React App Environment Settings
REACT_APP_ENVIRONMENT=development

# Backend API Endpoints
REACT_APP_PRODUCTION_API=http://localhost:3333/
REACT_APP_DEVELOPMENT_API=http://localhost:3333/
REACT_APP_STAGING_API=http://localhost:3333/
REACT_APP_BALANCE_API=http://localhost:3333/

# Build Options
GENERATE_SOURCEMAP=false

# Bypass Options (Testing Purposes)
REACT_APP_BYPASS_SMS_2FA=true
REACT_APP_BYPASS_EMAIL=true 
