node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.DS_Store
*.log
dist
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.md
!README.md
