NODE_NUMBER=1
NODE_NAME=NODE1
NODE_UUID=61f17958-39ff-4284-9a80-bb7e4aad1063
NODE_ENV=development

APP_NAME=localhost
APP_SECRET=your_app_secret_here
APP_TWO_FACTOR_AUTHENTICATION_APP_NAME=GoKnown

APP_WEB_URL=http://frontend.local-env.orb.local/
APP_API_URL=http://backend.local-env.orb.local/

CHARGE_AMOUNT=-1

ENABLE_CREATE_USER=true

# Pre auth user (MVP STEP)
# Pre-authentication password placeholder
PREAUTHENTICATION_PASSOWORD=your_password_here
# Pre-authentication ID placeholder
PREAUTHENTICATION_ID=your_preauthentication_id_here

#Storage Driver for applications
STORAGE_DRIVER=digitalocean

# Mail
MAIL_DRIVER=ethereal
MAIL_BYPASS=true

# Two Factor Authentication
TWOFA_DRIVER=google

#TWILIO Credentials
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_SERVICE_ID=your_twilio_service_id_here
TWILIO_BYPASS=true

# SES
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=redis

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=root
DB_PASS=your_aiven_password_here
DB_NAME=goknown
DATABASE_URL=your_database_url_here

#Digital Ocean Spaces
DO_SPACES_ENDPOINT=sfo3.digitaloceanspaces.com
DO_SPACES_KEY=your_api_key_here
DO_SPACES_SECRET=your_api_key_here
DO_SPACES_BUCKET=storage-goknown
DO_SPACE_URL=https://storage-goknown.sfo3.digitaloceanspaces.com
