# Configurações da aplicação
REACT_APP_ENVIRONMENT=development
REACT_APP_PRODUCTION_API=https://node1.goknown.app/

# Bypass da verificação de SMS 2FA (true para ativar o bypass, false para desativar)
REACT_APP_BYPASS_SMS_2FA=false 
